/*
    Cristian Artero Molina
    Footer Para la entrega de tareas
*/
footer > p{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-shadow: -5px 5px 10px rgb(84, 11, 109);
    color: rgb(100, 0, 182);
    font-size: x-large;
}