/* 
    Cristian Artero Molina
    Plantilla HTML5
*/
h2{
    text-align: center;
}
header{
    background-color:khaki;
    text-align: center;
    padding: 20px;
}
section{
    width: 33%;
    float: left;
}
footer{
    background-color: khaki;
    text-align: center;
    padding: 20px;
    clear: both;
}
footer > a{
    position: fixed;
    bottom: 0px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-shadow: -5px 5px 10px rgb(0, 0, 0);
    color: red;
    font-size:x-large;
}