/*
    Cristian Artero Molina
    28/11/2022
*/
*{
    box-sizing: border-box;
    margin: 0px;
}
*::selection{
    background-color: darkred;
}
body{
    background-color: darkblue;
}
#titulo2::before,#titulo2::after{
    content:"''" ;
    margin: 5px;
    border: 2px solid white;
    border-radius: 10px;
}
#titulo2{
    color: aliceblue;
    text-transform: lowercase;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
article{
    color: bisque;
    margin-top: 5%;
    font-size: 1.5em;
    text-align: justify;
    column-count: 3;
    column-gap: 2em;
    column-rule: 3px dotted blueviolet;
}
p::first-letter{
    font-size: 3em;
    color: pink;
}
p::first-line{
    color: palegreen;
}
#footer > a{
    position: fixed;
    bottom: 0px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-shadow: -5px 5px 10px rgb(0, 0, 0);
    color: red;
    font-size:x-large;
}
