 /*
    Cristian Artero Molina
*/
*{
      margin: 0px;
      box-sizing: border-box;
}
li{
      text-align: right;
      list-style: none;
      font-size: 30px;
}
p{
      background-color: rgba(255, 235, 205, 0.786);
      opacity: 70%;
      font-size: 25px;
      width: 80%;
}
h1{
      color: rgba(0, 0, 255, 0.574);
      width: 50%;
      clear: both;
      margin: 40px 40px 40px 40px
}
body{
      background: url(./Imagenes/fondo.jpeg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-repeat: repeat-x;
      background-size: cover;
}
.imagen-medio img{
      border: 5px double black;
      max-width: 30%;
      margin: auto;
      opacity: 10%;
}
.imagen-medio{
      display: flex;
      align-items: center;
      justify-content: center;
}
.menu-lateral{
      float: right;
      width: 20%;
}
.menu-lateral a{
      background-color: rgba(239, 246, 248, 0.564);
      color: blue;
      text-decoration: none;
      padding: 20px;
      display: block;
}
.menu-lateral a:hover{
      background-color: rgb(60, 0, 60);
      color:rgb(189, 161, 60);
}