/*
    Cristian Artero Molina
    Proyecto Aplicaciones Web
*/
*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Caveat', cursive;
}
body{
    width: 80%;
    margin: 10% auto;
    background-image: url(./Imagenes/fondo.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.titulo{
    display: flex;
    justify-content: space-between;
    background-color: #108a72;
}
.titulo img{
    width: 20%;
    height: 20%;
    padding: 1% 1% 0px 1%;
}
.textoTitulo{
    padding: 5%;
    font-size:3em;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 3px -3px 5px#002c23;
}
.menu{
    width: 100%;
    background-color: #108a72;
    float: left;
    overflow: hidden;
    
}
.menu:hover .submenu{
    display: block;
}
.inicio{
    background-color: #f8ffae;
    border: none;
    width: 100%;
    font-size: 2em;
    transition: all 0.25s linear;
}
.inicio:hover{
    background-color: #108a72;
    color: white;
}
.submenu{
    display: none;
    float: left;
    background-color: #108a72;
    width: 80%;
    text-decoration: none;
    
}
.submenu a{
    width: 25%;
    height: 10%;
    float: left;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 2em;
    
}
.menu a:hover{
    background-color: #f8ffae;
    color: black;
}
.InicioPrincipal{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3%;
    font-size: 1.5em;
    text-align: center;
}
.InicioPrincipal img{
    width: 100%;
    height: 100%;
    background-color: #f8ffaeb4;
    transition: all 0.25s linear;
}
.InicioPrincipal img:hover{
    transform:scale(0.9);
    
}

@media (max-width:1000px){
    .submenu{
        display: none;
        position: absolute;
        background-color: #108a72;
        z-index: 1;
    }
    .InicioPrincipal{
        grid-template-columns: auto auto auto;
    }
    .titulo img{
        padding: 1% 1.5% 1% 1.5%;
        width: 20%;
        height: 20%;
    }
    .menu a{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
}
@media (max-width:700px){
    body{
        font-size: 1em;
    }
    .submenu{
        display: none;
        position: absolute;
        background-color: #108a72;
        z-index: 1;
        text-align: center;
    }
    .titulo img{
        padding: 5% 1.5% 5% 1.5%;
        width: 15%;
        height: 15%;
    }
    .menu a{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
}
@media (max-width:520px){
    .textoTitulo{
        font-size: 2em;
    }
}
@media (max-width:380px){
    .textoTitulo{
        font-size: 1.5em;
    }
}