*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Caveat', cursive;
}
body{
	width: 80%;
	margin: 10% 10%;
	background-image: url(./Imagenes/fondo.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;	
}
form{
	display: flex;
	flex-direction: column;
}
form input{
	width: 100%;
}